#logoAboutUs {
   margin-top: 120px;
    
}
.aboutUs{
    align-items: center;
    text-align: center;
    background-color: white;
    letter-spacing: 0.03em;
    background-image: url('/Background.png');
    background-attachment: fixed;
}
.aboutUsTitle {
    padding-top: 30px;
    font-weight: 550;
}

h4{
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.aboutUsTitle #redLetter{
    color: red;
}
.aboutUsTitle #blueLetter{
    color: #0d8fe6;
}