.companyList {
    width: 100%;
    margin: 3% 0 3% 8.09%;
}

.row1 {
    display: flex;
    margin-bottom: 1%;
}

.btn_companyList{
    width: 41%;
    border: 0;
    margin-left: 1%;
    transition: all .2s ease-in-out;
}

.btn_companyList:hover{
    transform: scale(1.03);

}

.slika_cl {
    width: 100%;
}


/* .homepage{
    display: flex;
    float: left;
    margin-top: 40px;
    margin-left: 20%;
    
}

.companyList {
    width: 60vh;
}

.company{
    margin-left: -30px;   
}
.arrow{
    margin-left: 80%;
}

a {
    color: var(--mainGrey);
  }

a:hover {
    color: var(--mainLightGrey);
}


.title{
    margin-top: 20px;
    margin-left: -40%;
}


@media only screen and (max-width: 900px) {
    .homepage{
        display: flex;
        float: left;
        margin-top: 0;
        margin-left: 0;
        justify-content: space-evenly;
        max-width: 100%;
        margin-bottom: 60px;
    }
    .companyList {
        max-width: 75%;
        margin-left: 0px;
    }
    
}
.wrap{
    margin-top: 20px;
    margin-left: 5%;
}

 .homepage{
    display: flex;
    float: left;
    margin-bottom: 20px;
    margin-left: 10%;
}

.companyBox{
    border: 0;
    margin-bottom: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e3e3e3;
    border-top: 5px rgb(70, 171, 230) solid;
}

.companyList {
    width: 55%;
}

.logo {
    width: 25%;
    margin-left: 10%;
}

.arrow{
    margin-left: 10%;
}

.machine{
    width: 30%;
    height: auto;
    margin-left: 35%;
}

.cards img{
    width: 49.5%;
    height: auto;
    display: flex;
    float: left;
}

.card2 img{
    margin-left: 1%;
}

.products{
    margin-left: -65%;
    font-size: 16px;
    font-weight: 550;
}

.company{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 3%;
}


a :hover{
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .homepage{
        display: flex;
        float: left;
        margin-top: 0;
        margin-left: 0;
        justify-content: space-evenly;
        max-width: 100%;
        margin-bottom: 60px;
    }
    .companyList {
        max-width: 80%;
        margin-left: 0px;
        width: 110vh;
    }
    .machine{
        width: 30%;
    }
    .line{
        width: 110vh;
        height: 4px;
        background-color: lightcoral;
        margin-bottom: 1px;
        margin-left: 12.5%;
        max-width: 75%;
    }
    
} */
