.FormContainer{
    border:1px solid rgb(124, 133, 136);
    width: 100%;
    background-color: rgb(124, 133, 136);
}

.naslov_cf {
    color: rgb(22, 22, 24);
    font-size: 24px;
}

.controlForm {
    margin-left: 5px;
    text-align: center;
}

.poruka {
    margin-right: 0;
}

.mdbSend {
    margin-bottom: 30px;
}

.TextSend{
    color: white;
    text-align: center;
}

.text-center{
    margin-top: 10px;
}
.form-control{
    width:90%;
}