.dugme_jezici {
  background-color: rgb(171, 203, 214);
  width: 2%;
  border: 0;
  float: right;
  right: 2%;
  position: absolute;
  border-radius: 50%;
  margin-top: -0.5%;
}

.icon_jezici {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 850px) {
  .dugme_jezici {
    width: 5%;
    right: 11%;
  }
}