    .NB_css1 {
        color: white;
    }
    
    .NB_css1 ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: 1000;
    }
    
    .NB_css1 ul li {
        float: left;
        width: 33.333%;
        background-color: rgb(41, 39, 39);
        font-size: 20px;
    }
    
    .NB_css1 ul li a{
        text-align: center;
        text-decoration: none;
        display: block;
        width: 100%;
    }

    .NB_css1 ul li a:visited{
        color: white;
    }

    .NB_css1 ul li a:link{
        color: white;
    }
    
    .NB_css1 ul li a:hover{
        background-color: #ccccca;
        color: black;
    }
    
    .NB_css1 ul li ul{
        display: none;
        width: 300%;
        margin-left: -100%;
    }

    .NB_css1 ul li ul li .machine_images{
        width: 90px;
    }
    
    .NB_css1 ul li:hover ul{
        display: flex;
    }
    

    .NB_css1 .checkbtn {
        float: left;
        color: white;
        cursor: pointer;
        display: none;
    }
    
    .NB_css1 #check{
        display: none;
    }
    
    .img_bars{
        width: 50px;
    }
    
    @media (max-width: 850px){    
    
        .NB_css1 .checkbtn {
            display: block;
        }
    
        .NB_css1 ul li a:hover{
            background: #2c3e50; 
        }
    
        .NB_css1 ul{
            position: fixed;
            width: 100%;
            height: 100%;
            background: #2c3e50;
            opacity: .9;
            top: 56px;
            left: -100%;
            transition: all .5s;
            color: white;
            overflow-y: scroll;
        }

        .NB_css1 ul li a{
            text-align: left;
        }
    
        .NB_css1 ul li ul {
            display: block;
            width: 97%;
            margin: 0;
            height: 310px;
            margin: 0 0 0 3%;
        }

        .NB_css1 ul li ul li {
            display: flex;
        }

        .NB_css1 ul li ul li img{
            display: flex;
        }
    
        .NB_css1 ul li ul li a{
            /* display: flex; */
            font-size: 16px;
            border-left: 2px solid white;
            border-radius: 0;
        }
    
        .NB_css1 ul li ul li{
            display: block;
        }
    
        .NB_css1 .li_posle_padajuceg {
            margin-top: 410px;
        }
    
        .NB_css1 ul li{
            float: none;
            margin-left: 2%;
        }
    
        .NB_css1 nav ul li a{
            font-size: 18px;
        }
    
        .NB_css1 ul li ul img {
            display: none;
        }
    
        .logo_nb {
            display: none;
        }
    
        .NB_css1 #check:checked ~ ul{
            left: 0;
        }
    
        .NB_css1 #check:checked ~ ul li ul{
            left: 7%;
            top: 150px
        }
    }