.mr-auto{
    margin-left: 6%;
}

.dropDowns{
    margin-left: 15%;   
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

@media only screen and (max-width: 900px) {
    .mr-auto{
        position: relative;
        margin-left: 0%;
    }
    .dropDowns{
        margin-left: 0%;
    }
}