.rightSidebar {
    position: absolute;
    right: 2%;
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .rightSidebar {
        position: relative;
        width: 90%;
        margin: auto;
        right: auto;
    }
}