.selectMenu {
    margin-left: 9.1%;
    width: 81.8%;
    /* border-left: 1px solid #ccccca;
    border-right: 1px solid #ccccca;  */
}

.selectMenu a{
    background-color:  #ccccca;
    color: rgba(0, 0, 0, 0.938);
    width: 25%;
    font-size: 18px;
    text-align: center;
    padding-top: 1.5%;
}

.selectMenu a:hover{
    background-color:  rgb(41, 119, 145);
    color: white;
}

.selectMenu a:active{
    background-color:  rgb(14, 155, 202);
}

.tabovi {
    background: #ccccca;
    height: 60px;
}



@media only screen and (max-width: 500px) {
    .selectMenu{
        float: center;
        justify-content: space-evenly;
        max-width: 100%;
        width: 110vh;
        margin: 0;
    }
    
    .selectMenu a{
        background-color:  #ccccca;
        color: rgba(0, 0, 0, 0.938);
        width: 50%;
        font-size: 14px;
        text-align: center;
        padding-top: 1.5%;
        margin-bottom: 20%;
    }
}