.selectMenu {
    width: 80%;
    height: auto;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 900px) {
    .selectMenu{
        float: center;
        justify-content: space-evenly;
        max-width: 100%;
        margin-bottom: 60px;
        max-width: 75%;
        width: 110vh;
    }
    
}