*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
}

.specifikacije{
    display: flex;
    width: 100%;
}

.listaSpecifikacija{
    list-style-type: none;
    display: block;
}

.solidline {
    border-top: 1px solid #e6e6e6;
    margin: 0 0 10px;
  }
  

.levaStrana{
    width: 40%;
}

.levaStranaTeksta{
    font-weight: bold;
}

.dugacakTekst{
    font-weight: bold;
}

.desnaStrana{
  width: 10%;
  padding-left: 4%;
  padding-top: 4%;
}

.dimenzijeSpec{
    width: 940%;
}

.linija{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    height: auto;
}

.desnaStranaTeksta{
 float: right;
 white-space: pre-line;
}


@media only screen and (max-width: 1400px) {

    .specifikacije{
        width: 100%;
        display: block;
    }
    
    .listaSpecifikacija{
        list-style-type: none;
        margin-left: 5%;
        display: block;
        
    }
    
    .dugacakTekst{
        font-size: 12px;
    }

    .levaStrana{
        width: 100%;
    }
    
    .dimenzijeSpec{
        width: 70%;
        height: auto;
        margin-top: 40px;
        margin-left: 10%;
    }
    
    .linija{
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;

    }
    

}

@media only screen and (max-width: 700px) {

    .specifikacije{
        width: 100%;
        display: block;
    }
    
    .listaSpecifikacija{
        list-style-type: none;
        margin-left: 5%;
        display: block;
        
    }
    
    .levaStrana{
        width: 100%;
    }
    
    .dugacakTekst{
        font-size: 11px;
    }

    

    .dimenzijeSpec{
        width: 300px;
        height: 160px;
        margin-top: 40px;
        margin-left: 10%;
    }
    
    .linija{
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;

    }
    
}