.TechnicalInfo{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.node__content{
    padding: 30px 0;
}
.columns{
    display: flex;
}
.left-column{
    width: 50%;
    margin-left:2%;
    margin-right: 4%;
    margin-bottom: 30px;
}
.row{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.label{
    width: 62%;
    margin-right: 0;
    font-weight: 700;
    float: left;
    font-size: 14px;
    line-height: 32px;
}
.spec{
    width: 38%;
    float: left;
    font-size: 14px;
    line-height: 32px;
}

.right-column{
    width: 50%;
    position: relative;
}

.photoSpec img{
    width: 100%;
    height:auto;
}

@media only screen and (max-width: 1000px) {
    .TechnicalInfo{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .content{
        width: 100%;
        margin: 0 auto;
    }
    .node__content{
        padding: 30px 0;
    }
    .columns{
        display: block;
    }
    .left-column{
        width: 100%;
        margin-bottom: 30px;
    }
    .row{
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        flex-direction: row;
    }
    .label{
        width: 60%;
        margin-right: 0;
        font-weight: 700;
        float: left;
        font-size: 14px;
        line-height: 32px;
    }
    .spec{
        width: 40%;
        float: left;
        font-size: 14px;
        line-height: 32px;
    }
   
    .right-column{
        width: 100%;
        position: relative;
    }
    
    .photoSpec img{
        width: 80%;
        margin-left:10%;
        height:auto;
    }
}

